<div class="container">
  <form autocomplete="off" #form="ngForm" (ngSubmit)="submit(form)">
    <div class="ui-g">
      <div class="ui-g-12">
        <h1>{{editando ? 'Edição de ' : 'Novo '}} Lançamento</h1>
      </div>

      <div class="ui-g-12">
        <p-selectButton [options]="tipos" [(ngModel)]="lancamento.tipo" name="tipo"
          #tipo></p-selectButton>
      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>Vencimento</label>
        <p-calendar [(ngModel)]="lancamento.dataVencimento" dateFormat="dd/mm/yy" name="vencimento"
          #vencimento="ngModel" required></p-calendar>

        <p-message severity="error" text="Informe o vencimento"
          *ngIf="vencimento.hasError('required') && vencimento.dirty"></p-message>
      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>{{ tipo.value === 'RECEITA' ? 'Recebimento' : 'Pagamento'}}</label>
        <p-calendar [(ngModel)]="lancamento.dataPagamento"
          dateFormat="dd/mm/yy" name="pagamento"></p-calendar>
      </div>

      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label>Descrição</label>
        <input type="text" name="descricao" pInputText [(ngModel)]="lancamento.descricao"
          #descricao="ngModel" required minlength="5">

        <p-message severity="error" text="Informe uma descrição"
          *ngIf="descricao.hasError('required') && descricao.dirty"></p-message>

        <p-message severity="error"
          text="A descrição deve ter mais que {{descricao.errors.minlength.requiredLength}} caracteres"
          *ngIf="descricao.hasError('minlength') && descricao.dirty"></p-message>
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Valor</label>
        <input type="text" name="valor" pInputText currencyMask #valor="ngModel" required
          [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', allowNegative: false }"
          [(ngModel)]="lancamento.valor">

          <p-message severity="error" text="Informe o valor"
            *ngIf="valor.hasError('required') && valor.dirty"></p-message>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Categoria</label>
        <p-dropdown [options]="categorias" [autoWidth]="false" #categoria="ngModel"
          placeholder="Selecione" name="categoria" [(ngModel)]="lancamento.categoria" required
          optionLabel="nome"></p-dropdown>

        <p-message severity="error" text="Informe a categoria"
          *ngIf="categoria.hasError('required') && categoria.dirty"></p-message>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Pessoa</label>
        <p-dropdown [options]="pessoas" [autoWidth]="false" [(ngModel)]="lancamento.pessoa"
          placeholder="Selecione" [filter]="true" name="pessoa" #pessoa="ngModel"
          optionLabel="nome"  required></p-dropdown>

        <p-message severity="error" text="Informe a pessoa"
          *ngIf="pessoa.hasError('required') && pessoa.dirty"></p-message>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Observação</label>
        <textarea type="text" name="observacao" pInputTextarea
          rows="3" [(ngModel)]="lancamento.observacao"></textarea>
      </div>

      <div class="ui-g-12">
        <button type="submit" label="Salvar" pButton [disabled]="form.invalid"></button>
        <button type="button" label="Novo" pButton class="ui-button-info"
          (click)="novo(form)"></button>

        <a routerLink="/lancamento">Voltar para a pesquisa</a>
      </div>
    </div>
  </form>
</div>
